<nav aria-label="Secondary navigation">
    <ul class="usa-sidenav">
        <li class="usa-sidenav__item"><a href="@Url.Action("Index","Home")">Home</a></li>
    </ul>

    <div class="usa-accordion">
        <h4 class="usa-accordion__heading">
            <button type="button" class="usa-accordion__button sidenav" aria-expanded="true" aria-controls="a1">
                Plants
            </button>
        </h4>
        <div id="a1" class="usa-accordion__content usa-prose sidenav-menu">
            <ul class="usa-sidenav">
                <li class="usa-sidenav__item"><a href="@Url.Action("NPGS","Pages")">Overview</a></li>
                <li class="usa-sidenav__item"><a href="https://www.ars.usda.gov/crop-production-and-protection/plant-genetic-resources-genomics-and-genetic-improvement/docs/npgs-plan/" target="_blank" rel="noreferrer">NPGS Strategic Plan ↗</a></li>
                <li class="usa-sidenav__item"><a href="@Url.Action("Directory","Pages")">NPGS Directory</a></li>
                <li class="usa-sidenav__item"><a href="@Url.Action("Citations","Pages")">Citing the NPGS</a></li>
                <li class="usa-sidenav__item"><a href="@Url.Action("Gringlobal","Pages")">GRIN-GLobal</a></li>
                <li class="usa-sidenav__item"><a href="@Url.Action("Education","Pages")">GRIN-U Education</a></li>
            </ul>
        </div>
    </div>

    <div class="usa-accordion">
        <h4 class="usa-accordion__heading">
            <button type="button" class="usa-accordion__button sidenav" aria-expanded="true" aria-controls="a2">
               Microbes
            </button>
        </h4>
        <div id="a2" class="usa-accordion__content usa-prose sidenav-menu">
            <ul id="submenu-microbes" class="usa-sidenav">
                <li class="usa-sidenav__item"><a href="@Url.Action("Microbes","Pages", new { @context="microbial-collections"})">Overview</a></li>
                <li class="usa-sidenav__item">
                    <a href="@Url.Action("Index","Rhizobium")">
                        <span>Rhizobium</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="usa-accordion">
        <h4 class="usa-accordion__heading">
            <button type="button" class="usa-accordion__button sidenav" aria-expanded="true" aria-controls="a3">
                Technical Resources
            </button>
        </h4>
        <div id="a3" class="usa-accordion__content usa-prose sidenav-menu">
            <ul class="usa-sidenav">
                <li class="usa-sidenav__item"><a href="@Url.Action("TechnicalResources","Pages")">Overview</a></li>
                <li class="usa-sidenav__item"><a href="@Url.Action("CGC","Pages")">Crop Germplasm Committees</a></li>
                <li class="usa-sidenav__item"><a href="@Url.Action("PVP","Pages")">Plant Variety Protection</a></li>
                <li class="usa-sidenav__item"><a href="@Url.Action("Rhizobium","Pages")">Rhizobium</a></li>
                <li class="usa-sidenav__item"><a class="usa-sidenav__item_link_external" href="https://www.ars.usda.gov/northeast-area/beltsville-md-barc/beltsville-agricultural-research-center/national-germplasm-resources-laboratory/docs/plant-inventory-books/" target="_blank">Plant Inventory Books ↗</a></li>
                <li class="usa-sidenav__item"><a class="usa-sidenav__item_link_external" href="https://biocollections.ars.usda.gov/" target="_blank">ARS Biocollections Portal ↗</a></li>
            </ul>
        </div>
    </div>
</nav>
@* <script type="text/javascript">

    
        document.addEventListener("DOMContentLoaded", function () {
        const toggleLink = document.getElementById("toggle-technical-resources");
        const submenu = document.getElementById("submenu-technical-resources");
        const icon = document.getElementById("technical-resources-icon");

        toggleLink.addEventListener("click", function (e) {
            e.preventDefault();
        const isVisible = submenu.style.display === "block";
        submenu.style.display = isVisible ? "none" : "block";
        icon.textContent = isVisible ? "+" : "−";
        });
    });
 


    // Select the toggle link by its ID
    //document.getElementById('toggle-technical-resources').addEventListener('click', function (event) {
    //    event.preventDefault(); // Prevent the default link behavior

    //    // Select the submenu by its ID and toggle its visibility
    //    const submenu = document.getElementById('submenu-technical-resources');
        
    //    if (submenu.style.display === 'none' || submenu.style.display === '') {
    //        submenu.style.display = 'block'; // Show the submenu
    //    } else {
    //        submenu.style.display = 'none'; // Hide the submenu
    //        // TODO show indicator that menu can be opened
    //        $("#toggle-technical-resources").html()
    //    }
    //});

    //document.getElementById('toggle-npgs').addEventListener('click', function (event) {
    //    event.preventDefault(); // Prevent the default link behavior

    //    // Select the submenu by its ID and toggle its visibility
    //    const submenu = document.getElementById('submenu-npgs');

    //    if (submenu.style.display === 'none' || submenu.style.display === '') {
    //        submenu.style.display = 'block'; // Show the submenu
    //    } else {
    //        submenu.style.display = 'none'; // Hide the submenu
    //    }
    //});
</script> *@