<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USDA-ARS Germplasm Resources Information Network (GRIN)</title>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/uswds.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css" />

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
    
    <title>View</title>
    @await RenderSectionAsync("Scripts", required: false)
    
    <style type="text/css">
        .video-wrapper {
            max-width: 700px; /* reduce to your preferred width */
            margin: 0 auto; /* centers the wrapper */
        }

        .video-container {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 aspect ratio */
            height: 0;
            overflow: hidden;
            max-width: 100%;
            margin: 0 auto; /* centers the div horizontally */
        }

        .video-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        tag-link-external::after {
            content: "↗"; /* This is the external link arrow character */
            font-size: 0.8em; /* Adjust size of the arrow */
            margin-left: 0.2em; /* Optional: Adds slight space between the link text and the arrow */
            vertical-align: middle; /* Aligns the arrow with the text */
        }

        .usa-collection__meta-item a {
            color: white;
        }

        .usa-sidenav__item {
            border-bottom:1px;
            padding-left:0px;
            margin-left:0px;
        }
        
        .sidenav-menu {
            padding-left:0px;
        }
      
        .usa-accordion__button.data-list {
            background-color: #0050d8;
            color:white;
        }

        .usa-accordion__button.data-entry {
            /* background-color: #0050d8; */
            background-color:#f0f0f0;
            color:black;
        }

        .usa-accordion__button.data-list:hover {
            background-color: #252f3e;
            color: white;
        }

        .usa-accordion__button.sidenav {
            background-color:#f0f0f0;
                color: black;
        }

        .grid-container {
            margin-left: auto;
            margin-right: auto;
            /* max-width: 64rem; */
           /*  max-width: 84rem;  */
            max-width: none; 
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .dataTables_filter {
            text-align: left !important;
            direction: ltr !important;
            
        }
        
        .dataTables_filter label {
            display: flex;
            align-items: center;
            gap: 0.5em;
        }
        .dataTables_filter, .dataTables_length {
            margin-bottom:1rem;
        }

        .usa-form {
            font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
            font-size: 1.06rem;
            line-height: 1.3;
        }

        .usa-form, .usa-form--large {
            max-width: none;
        }

        .usa-banner__inner {
            padding-left: 1rem;
            padding-right: 1rem;
            margin-left: auto;
            margin-right: auto;
            /*max-width:64rem;*/
           max-width:94rem;
            padding-left: 1rem;
            padding-right: 1rem;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            padding-right: 0;
        }
         
        .usa-header--extended .usa-navbar{
            margin-left:auto;
            margin-right:auto;
            max-width:94rem;
            
            padding-left:1rem;
            padding-right:1rem;
            display:block;
            height:auto;
            overflow:auto;
        }
         
        .usa-header--extended .usa-nav__inner {
            margin-left: auto;
            margin-right: auto;
            /*max-width: 64rem;*/
            max-width: 94rem; 
            
            padding-left: 1rem;
            padding-right: 1rem;
            position: relative;
        }
       
        .usa-icon-list--size-lg .usa-icon-list__content{
          max-width:72ex;
          font-size:1.46rem;
          padding-left:0.584rem;
        }

        .usa-hero__callout--shrink {
          display: inline-block;
          width: auto;
          max-width: 100%; /* Optional: prevent overflow */
          white-space: nowrap; /* Optional: prevent wrapping */
        }

       .usa-link--external {
           padding-right:0px;
       }

    </style>
    </head>
    <body>
        <script type="text/javascript" src="~/js/uswds.min.js"></script>
        @* <a class="usa-skipnav" href="#main-content">Skip to main content</a> *@
        @Html.Partial("~/Views/Shared/Partials/_USABanner.cshtml")
        <div class="usa-overlay"></div>
        @Html.Partial("~/Views/Shared/Partials/_USANavExtendedHeaderWithMegamenu.cshtml")
        @Html.Partial("~/Views/Shared/Partials/_USAHeroInterior.cshtml")
        @RenderBody()
        @Html.Partial("~/Views/Shared/Partials/_USAFooter.cshtml")
        
        
        <div id="overlay" style="display: none;
          position: fixed;
          top: 0; left: 0;
          width: 100%; height: 100%;
          background: rgba(255, 255, 255, 0.7);
          z-index: 9999;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 24px;
          font-weight: bold;
          color: #333;">
            🔄 Searching...
        </div>
    </body>
</html>
<script>
    $(document).ready(function () {
        $('#overlay').hide();
        initializeAccordionButtonImages();
        initializeAccordionButtonImagesDataEntry();
    });

    function initializeAccordionButtonImagesDataEntry() {
        const $buttons = $('.usa-accordion__button.data-entry');

        // Set initial background image (collapsed)
        $buttons.css('background-image', 'url(https://designsystem.digital.gov/assets/img/icons/remove-white.svg), linear-gradient(transparent, transparent)');

        // Unbind old click handlers to avoid duplicates
        $buttons.off('click.accordionToggle');

        // Add new click handler
        $buttons.on('click.accordionToggle', function () {
        const $button = $(this);

        setTimeout(() => {
            const isExpanded = $button.attr('aria-expanded') === 'true';

            const newImage = isExpanded
            ? 'url(https://designsystem.digital.gov/assets/img/icons/remove-white.svg)'
            : 'url(https://designsystem.digital.gov/assets/img/icons/add-white.svg)';

            $button.css('background-image', `${newImage}, linear-gradient(transparent, transparent)`);
        }, 10);
        });
    }

    function initializeAccordionButtonImages() {
        const $buttons = $('.usa-accordion__button.data-list');

        // Set initial background image (collapsed)
        $buttons.css('background-image', 'url(https://designsystem.digital.gov/assets/img/icons/add-white.svg), linear-gradient(transparent, transparent)');

        // Unbind old click handlers to avoid duplicates
        $buttons.off('click.accordionToggle');

        // Add new click handler
        $buttons.on('click.accordionToggle', function () {
        const $button = $(this);

        setTimeout(() => {
            const isExpanded = $button.attr('aria-expanded') === 'true';

            const newImage = isExpanded
            ? 'url(https://designsystem.digital.gov/assets/img/icons/remove-white.svg)'
            : 'url(https://designsystem.digital.gov/assets/img/icons/add-white.svg)';

            $button.css('background-image', `${newImage}, linear-gradient(transparent, transparent)`);
        }, 10);
        });
    }
</script>